        <div id="services" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder right">
                    <div class="section-num">
                      <h2 class="entry-title">collaboration</h2> 
                    </div>
                </div>
                <div class="section-content-holder left">
                    <div class="content-wrapper">
                        <img src="assets/knu_logo.jpg" alt="">
                        <h1 style="text-align:center">X</h1>
                        <img src="assets/likelion_logo.jpg" alt="">
                        <h2 style="text-align:center">6th Operator<br>Kim hyeon woo & Jeong da hye</h2>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Contact -->
        <div id="contact" class="section">
            <div class="block content-1170 center-relative">
                <div class="section-title-holder left">
                    <div class="section-num">
                        <span>
                            15-17
                        </span>
                    </div>
                </div>
                <div class="section-content-holder right">
                    <div class="content-wrapper">
                        <div class="one_half ">
                           <img src="assets/5.jpeg" alt="">
                        </div>
                        <div class="one_half last">
                            <div class="contact-form">
                                <p><input id="name" type="text" name="your-name" placeholder="Name"></p>
                                <p><input id="contact-email" type="email" name="your-email" placeholder="Email"></p>
                                <p><input id="subject" type="text" name="your-subject" placeholder="Subject"></p>
                                <p><textarea id="message" name="your-message" placeholder="Message"></textarea></p>
                                <p><input type="submit" onClick="SendMail()" value="SEND"></p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="full-width">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3174.8326971158044!2d127.1290621!3d37.2753942!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sko!2skr!4v1525877785168" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Footer -->