       <!--목양축전 콘티&전체부스와콘텐츠-->
        <div class="extra-content-full-width">
                <script>
                    var fwslider1_speed = "500";
                    var fwslider1_auto = "false";
                    var fwslider1_hover = "true";
                    var fwslider1_start = "0";
                    var fwslider1_width = "400";
                    var fwslider1_num = "5";
                </script>
                <div class="fwslider1 fw-image-slider-holder list_carousel relative">
                    <div class="caroufredsel_wrapper">
                        <ul id="fwslider1" class="fw-image-slider">
                            <li class="fw-slide">
                                <img src="assets/1.jpg" alt="">
                                <p class="fw-slide-text">강남대학교 목양축전</p>
                            </li>
                            
                            <li class="fw-slide">
                                <img src="assets/2.jpg" alt="">
                                <p class="fw-slide-text">인생사진관&청춘약국&운빨공장소</p>
                            </li>
                            
                            <li class="fw-slide">
                                <img src="assets/3.jpg" alt="">
                                <p class="fw-slide-text">귀신의집&플리마켓&푸드트럭</p>
                            </li>
                            
                            <li class="fw-slide">
                                <img src="assets/4.jpg" alt="">
                                <p class="fw-slide-text">성평등위원회가 준비한 시간</p>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div id="fwslider1_fw_image_slide_pager" class="fw_carousel_pagination"></div>
                </div>
                <a id="fwslider1_fw_next" class="carousel_fw_next" href="#"></a>
                <div class="clear"></div>
            </div>
            
            <!--귀신의집&가요제-->
            <div class="extra-content-full-width">
                <script>
                    var fwslider1_speed = "500";
                    var fwslider1_auto = "false";
                    var fwslider1_hover = "true";
                    var fwslider1_start = "0";
                    var fwslider1_width = "400";
                    var fwslider1_num = "5";
                </script>
                <div class="fwslider1 fw-image-slider-holder list_carousel relative">
                    <div class="caroufredsel_wrapper">
                        <ul id="fwslider1" class="fw-image-slider">
                            <li class="fw-slide">
                                <img src="assets/6.jpeg" alt="">
                                <p class="fw-slide-text">귀신의 집</p>
                            </li>
                            
                            <li class="fw-slide">
                                <img src="assets/7.jpeg" alt="">
                                <p class="fw-slide-text">주의사항</p>
                            </li>
                            
                            <li class="fw-slide">
                                <img src="assets/8.jpeg" alt="">
                                <p class="fw-slide-text">기대하셔도 좋습니다!</p>
                            </li>
                            
                            <li class="fw-slide">
                                <img src="assets/9.jpeg" alt="">
                                <p class="fw-slide-text">강남가요제</p>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div id="fwslider1_fw_image_slide_pager" class="fw_carousel_pagination"></div>
                </div>
                <a id="fwslider1_fw_next" class="carousel_fw_next" href="#"></a>
                <div class="clear"></div>
            </div>
        </div>
